{{define "content" }}
    {{ if eq .Ready "1"}}
    <strong>
        <table border="1" style="background-color: #b1f3d8">
        <caption><h3>Текущий месяц   {{.Monat}}  {{.Yahre}}</h3></caption><br>
        <tbody>
        <tr><td>1</td><td>Рабочих дней</td>      <td align="center"> {{.Tag}}     </td></tr>
        <tr><td>2</td><td>Рабочих часов</td>     <td align="center"> {{.Hour}}    </td></tr>
        <tr><td>3</td><td>Коэф. сверхурочных</td><td align="center"> {{.Kf}}</td></tr>
        <tr><td>3</td><td>Блок месяц</td><td align="center"> {{.Blmond}}</td></tr>
        <tr><td>3</td><td>Блок табель</td><td align="center"> {{.Bltime}}</td></tr>
        <tr><td>3</td><td>Блок начисления</td><td align="center"> {{.Bltabel}}</td></tr>
        <tr><td>3</td><td>Блок ведомость</td><td align="center"> {{.Blbuch}}</td></tr>
        <tr><td>3</td><td>Блок персонала</td><td align="center"> {{.Blpers}}</td></tr>
        </tbody>
        </table><br>
    </strong>
    {{else}}
            {{ if eq .Errors "1" }}
            <strong>Введите числовые значения! </strong><br>
            {{end}}
            {{ if eq .ErrRange "1" }}
            <strong>Введите числовые значения в рабочем диапазоне! </strong><br>
            {{end}}
        <form method="POST">
            <strong>
                <table border="1" style="background-color: #b1f3d8">
                    <caption><h3>Заполните значения по месяцу</h3></caption><br>
                    <tbody>
                    <tr><td>1</td><td>Год</td><td align="center">               <input name="yahre"></td></tr>
                    <tr><td>2</td><td>Номер месяца</td><td align="center">      <input name="nummonat"></td></tr>
                    <tr><td>3</td><td>Рабочих дней</td><td align="center">      <input name="tag"></td></tr>
                    <tr><td>4</td><td>Рабочих часов</td><td align="center">     <input name="hour"></td></tr>
                    <tr><td>5</td><td>Коэф.сверхурочных</td><td align="center"> <input name="kf"></td></tr>
                    <tr><td>5</td><td>Блок месяц</td><td align="center"> <input name="blmond"></td></tr>
                    <tr><td>5</td><td>Блок табель</td><td align="center"> <input name="bltabel"></td></tr>
                    <tr><td>5</td><td>Блок начисления</td><td align="center"> <input name="bltime"></td></tr>
                    <tr><td>5</td><td>Блок ведомость</td><td align="center"> <input name="blbuch"></td></tr>
                    <tr><td>5</td><td>Блок персонала</td><td align="center"> <input name="blpers"></td></tr>
                    </tbody>
                </table><br>
                <button class="button"><input type="submit" value="Ввести"></button>
            </strong>
        </form>
    {{end}}
    <button class="button"> <a href= "/mond_edit?nummonat={{.Nummonat}}" >Изменить</a></button>
    <button class="button"> <a href= "/monds_index" >Выход</a></button>
{{end}}
