{{define "content" }}
<strong>
    <table border="1" style="background-color: #b1f3d8">
        <caption>
            <h3>Календарь<br>
            </h3>
        </caption>
        <thead>
        <tr>
            <th align="center">№</th>
            <th align="center">Год</th>
            <th align="center">Месяц</th>
            <th align="center">Раб дней</th>
            <th align="center">Раб часов </th>
            <th align="center">Коэф.сверхур</th>
            <th align="center">Бл.месяца</th>
            <th align="center">Бл.табеля</th>
            <th align="center">Бл.начисления</th>
            <th align="center">Бл.ведомости</th>
            <th align="center">Бл.кадров</th>
            <th align="center">Удалить</th>
        </thead>
        <tbody>
        {{range $key, $value := .Mondstable}}
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
            <td align="center">{{ 1}}</td>
            <td align="center">{{ .Yahre}}</td>
            <td align="left"><a href= "mond_show?Id={{ $value.Id}}" >{{ .Monat}}</td>
            <td align="center">{{ .Tag}}</td>
            <td align="center">{{ .Hour}}</td>
            <td align="center">{{ .Kf}}</td>
            <td align="center">{{ .Blmond}}</td>
            <td align="center">{{ .Bltime}}</td>
            <td align="center">{{ .Bltabel}}</td>
            <td align="center">{{ .Blbuch}}</td>
            <td align="center">{{ .Blpers}}</td>
            <td><a href= "/monds_index?del=del&Id={{ $value.Id}}">Удалить</a></td>
        </tr>
        {{end}}
        </tbody>
    </table><br>
    <button class="button"> <a href= "/mond_new" >Новый месяц</a></button>
    <button class="button"> <a href= "/index" >Выход</a></button>
</strong>
{{end}}
