{{ define "content" }}
    <strong>
    <table border="1" style="background-color: #b1f3d8">
        <caption><h3>Данные по сотруднику</h3></caption><br>
        <thead>
        <th> №</th><th>Наименование</th><th>Значение</th>
        </thead>
        <tbody>
        <tr><td>2</td><td>Фамилия</td>      <td align="center"> {{.Title}}  </td></tr>
        <tr><td>1</td><td>Имя</td>          <td align="center"> {{.Forename}}   </td></tr>
        <tr><td>3</td><td>Должность</td>    <td align="center"> {{.Kadr}}   </td></tr>
        <tr><td>4</td><td>Отдел</td>        <td align="center"> {{.Department}}  </td></tr>
        <tr><td>4</td><td>В табель</td>     <td align="center"> {{ if eq .Real "1"}} Включен {{else}} не включен {{end}} </td></tr>
        <tr><td>3</td><td>Тариф</td>        <td align="center"> {{.Tarif}}   </td></tr>
        <tr><td>7</td><td>Адрес</td>        <td align="center"> {{.Address}}</td></tr>
        </tbody>
    </table><br>
    </strong>
    <button class="button"> <a href= "/personal_edit?Id={{.Id}}" >Изменить</a></button>
    <button class="button"> <a href= "/personals_index" >Выход</a></button>

{{end}}