{{ define "content" }}
    {{ if eq .Ready "1"}}
    <strong>
    <table border="1" style="background-color: #b1f3d8">
        <h2>{{ .Jetzmonat}}   {{ .Jetzyahre}}</h2>
        <caption><h3>Данные по сотруднику</h3></caption><br>
        <thead>
        <th> №</th><th>Наименование</th><th>Значение</th>
        </thead>
        <tbody>
        <tr><td>1</td><td>Имя</td>       <td align="center"> {{.Forename}}   </td></tr>
        <tr><td>2</td><td>Фамилия</td>   <td align="center"> {{.Title}}  </td></tr>
        <tr><td>3</td><td>Должность</td> <td align="center"> {{.Kadr}}   </td></tr>
        <tr><td>4</td><td>Отдел</td>     <td align="center"> {{.Department}}  </td></tr>
        <tr><td>3</td><td>Тариф</td>     <td align="center"> {{.Tarif}}   </td></tr>
        <tr><td>5</td><td>Е-майл</td>    <td align="center"> {{.Email}}  </td></tr>
        <tr><td>6</td><td>Телефон</td>   <td align="center"> {{.Phone}}  </td></tr>
        <tr><td>7</td><td>Адрес</td>     <td align="center"> {{.Address}}</td></tr>
        </tbody>
    </table><br>
    <button class="button"> <a href= "/personal_edit?id={{.Id}}" >Изменить</a></button>
    </strong>
    {{else}}
        {{ if eq .Empty "1" }}
            <strong>Заполните все поля! <br>
        {{else}}
            {{ if eq .Errors "1"}}
                Ошибки при вводе данных! <br>
                {{ if eq .ErrEmail "1" }}
                Электронная почта некорректна! <br>
                {{end}}
                {{ if eq .ErrPhone "1" }}
                Телефонный номер некорректен! <br>
                {{end}}
                {{ if eq .ErrRange "1" }}
                Тариф некорректен! <br>
                {{end}}
            {{end}}
        {{end}} </strong>
    <form method="POST">
    <strong>
        <table border="1" style="background-color: #b1f3d8">
            <caption><h3>Введите данные по сотруднику</h3></caption><br>
            <thead>
            <th> №</th><th>Наименование</th><th>Значение</th>
            </thead>
            <tbody>
            <tr><td>1</td><td>Фамилия</td>      <td align="center"><input name="title" value= {{.Title}} autocomplete="on"></td></tr>
            <tr><td>2</td><td>Имя</td>          <td align="center"><input name="forename" value= {{.Forename}} autocomplete="on"></td></tr>
            <tr><td>3</td><td>Должность</td>    <td align="center"><select size="1" name="kadr" required >
                <option value={{.Kadr}}>{{.Kadr}}</option>
                <option value="Инженер">Инженер</option>
                <option value="Менеджер">Менеджер</option>
                <option value="Нач.отдела">Нач.отдела</option>
                <option value="Зам.директора">Зам.директора</option>
                <option value="Директор">Директор</option>
            </select></p>
            </td></tr>
            <tr><td>4</td><td>Номер отдела</td> <td align="center"><input name="numotdel" value= {{.Numotdel}}></td></tr>
            <tr><td>3</td><td>Отдел</td>    <td align="center"><select size="1" name="department" value= {{.Department}} required >
                <option value={{.Department}}>{{.Department}}</option>
                <option value="Административный">Административный</option>
                <option value="Бухгалтерия">Бухгалтерия</option>
                <option value="Коммерческий">Коммерческий</option>
                <option value="Производственный">Производственный</option>
                <option value="Конструкторский">Конструкторский</option>
            </select></p>
            <tr><td>3</td><td>Тариф</td>        <td align="center"><input type="number" name="tarif" value= {{.Tarif}} min="100" max="500" step="10"></td></tr>
            <tr><td>5</td><td>Е-майл</td>       <td align="center"><input type="email" name="email" value= {{.Email}} autocomplete="on"></td></tr>
            <tr><td>6</td><td>Телефон</td>      <td align="center"><input type="phone" name="phone" value= {{.Phone}} autocomplete="on"></td></tr>
            <tr><td>7</td><td>Адрес</td>        <td align="center"><input name="address" value= {{.Address}} autocomplete="on" ></td></tr>
            </tbody>
        </table><br>
        <button class="submit" align="center"><input type="submit" formaction="/personal_edit?id={{.Id}}" align="center" value="Ввести"></button>
    </strong>
    </form>
    {{end}}
    <button class="button"> <a href= "/personals_index" >Выход</a></button>
{{end}}