{{define "content" }}
    <strong>
        <table border="1" style="background-color: #b1f3d8">
        <caption>

            <h3>Список сотрудников<br>
            По состоянию на  {{ .Jetzmonat}}   {{ .Jetzyahre}}<br>
                </h3>
        </caption>
        <thead>
        <tr>
            <th align="center">№</th>
            <th align="center">Фамилия</th>
            <th align="center">Имя</th>
            <th align="center">Должность</th>
            <th align="center">Отдел</th>
            <th align="center">Тариф</th>
            <th align="center">E-mail</th>
            <th align="center">Удалить</th>
        </thead>
        <tbody>
        {{ range $key, $value := .Persontable }}
            <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
                <td>{{ 1}}</td>
                <td><a href= "personal_show?Id={{ $value.Id}}" >{{ $value.Title}}</td>
                <td>{{ $value.Forename }}</td>
                <td>{{ $value.Kadr}}</td>
                <td align="left">{{ $value.Department}}</td>
                <td align="right">{{ $value.Tarif}}</td>
                <td align="left">{{ $value.Email}}</td>
                <td><a href= "/personals_index?del=del&Id={{ $value.Id}}">Удалить</a></td>
            </tr>
        {{end}}
        </tbody>
    </table><br>
        <button class="button"> <a href= "/personal_new" >Новый сотрудник</a></button>
        <button class="button"> <a href= "/index" >Выход</a></button>
    </strong>
{{end}}