{{ define "content" }}
    {{ if eq .Ready "1"}}
    <strong>
    <table border="1" style="background-color: #b1f3d8">
        <caption><h3>Данные по сотруднику</h3></caption><br>
        <thead>
        <th> №</th><th>Наименование</th><th>Значение</th>
        </thead>
        <tbody>
        <tr><td>1</td><td>Фамилия</td>   <td align="center"> {{.Title}}  </td></tr>
        <tr><td>2</td><td>Имя</td>       <td align="center"> {{.Forename}}   </td></tr>
        <tr><td>3</td><td>Должность</td> <td align="center"> {{.Kadr}}   </td></tr>
        <tr><td>4</td><td>Отдел</td>     <td align="center"> {{.Department}}  </td></tr>
        <tr><td>4</td><td>В табель</td>     <td align="center"> {{ if eq .Real "1"}} Включен {{else}} не включен {{end}} </td></tr>
        <tr><td>3</td><td>Тариф</td>     <td align="center"> {{.Tarif}}   </td></tr>
        <tr><td>5</td><td>Е-майл</td>    <td align="center"> {{.Email}}  </td></tr>
        </tbody>
    </table><br>
        <button class="button"> <a href= "/personal_edit?Id={{.Id}}" >Изменить</a></button>
    </strong>
    {{else}}
        {{ if eq .Empty "1" }}
            <strong>Заполните все поля! <br>
        {{end}}
            {{ if eq .Errors "1"}}
                Ошибки при вводе данных! <br>
                {{ if eq .ErrEmail "1" }}
                Электронная почта некорректна! <br>
                {{end}}
                {{ if eq .ErrEmail "2" }}
                Электронная почта уже использована! <br>
                {{end}}
                {{ if eq .ErrRange "1" }}
                Тариф некорректен! <br>
                {{end}}
                {{ if eq .ErrNumotd "1" }}
                Номер отдела должен быть в диапазоне 0...4! <br>
                {{end}}
            {{end}}
             </strong>
    <form method="POST">
    <strong>
        <table border="1" style="background-color: #b1f3d8">
            <caption><h3>Введите данные по сотруднику</h3></caption><br>
            <thead>
            <th> №</th><th>Наименование</th><th>Значение</th>
            </thead>
            <tbody>
            <tr><td>1</td><td>Фамилия</td>      <td align="center"><input name="Title" autocomplete="on"></td></tr>
            <tr><td>2</td><td>Имя</td>          <td align="center"><input name="Forename" autocomplete="on"></td></tr>
            <tr><td>3</td><td>Должность</td>    <td align="center"><select size="1" name="Kadr" required >
                <option value={{.Kadr}}>{{.Kadr}}</option>
                <option value="Инженер">Инженер</option>
                <option value="Менеджер">Менеджер</option>
                <option value="Нач.отдела">Нач.отдела</option>
                <option value="Зам.директора">Зам.директора</option>
                <option value="Директор">Директор</option>
            </select></p>
            <tr><td>4</td><td>Номер отдела</td> <td align="center"><input type="number" name="Numotdel" value= {{.Numotdel}} min="1" max="10" step="1"></td></tr>
            <tr><td>4</td><td>Включить в табель</td> <td align="center"><select size="1" name="Real" required >
                <option value={{.Real}}>{{.Real}}</option>
                <option value="1">Включить</option>
                <option value="0">Не включать</option>
            </select></p>
            <tr><td>3</td><td>Тариф</td>        <td align="center"><input type="number" name="Tarif" value= {{.Tarif}} min="100" max="500" step="10"></td></tr>
            <tr><td>5</td><td>Е-майл</td>       <td align="center"><input type="Email" name="Email" autocomplete="on"></td></tr>
            </tbody>
        </table><br>
        <button class="submit" align="center"><input type="submit"  align="center" value="Ввести"></button>
    </strong>
    </form>
    {{end}}
    <button class="button"> <a href= "/personals_index" >Выход</a></button>
{{end}}